.feed-container {
    background-color: rgb(227, 218, 193);
    margin: 100px 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.feed-image-container {
    background-color: rgb(138, 125, 91);
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.feed-image-container img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feed-image-container h3 {
    margin-left: 10px;
}

.feed-container h5 {
    margin: 10px 20px;
    padding-bottom: 10px;
    color: rgb(110, 110, 106);
}

.feed-image-container h5 {
    margin-left: 10px;
    color: rgb(38, 38, 23);
}

.request {
    text-align: center;
    margin: 20px 0px;
    font-weight: 550;
    color: rgb(46, 46, 45);
}

.comment {
    background-color: burlywood;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form input {
    width: 95%;
    border: none;
    outline: none;
    padding: 30px 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form button {
    border: none;
    outline: none;
    margin: 20px 0px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(207, 207, 136);
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form button:hover {
    background-color: white;
    color: rgb(207, 207, 136);
}

.public-comment {
    margin: 0px 20px;
    cursor: pointer;
}