* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: rgb(89, 66, 70);
  color: white;
}

.navlink {
  color: azure;
  text-decoration: none;
}

.active {
  color: green;
}